:root {
  --van-tabbar-background-color: linear-gradient(
    174.61deg,
    #2a2e33 5.16%,
    #373f4d 96.08%
  );
  --van-tabbar-item-active-background-color: linear-gradient(
    174.61deg,
    #2a2e33 5.16%,
    #373f4d 96.08%
  );
  --van-tabbar-item-text-color: #eee;
  --van-font-weight-bold: 600;
}
